nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242424;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul li {
  float: left;
  margin-left: 16px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #e12;
}

.container {
  margin-top: 120px;
  display: block;
  position: relative;
  justify-items: center;
}

.display-inline-flex {
  display: inline-flex;
  justify-items: center;
  align-items: center;
}

.tag-button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.tag-button-active {
  background-color: #e12;
}

.tag-button:hover {
  background-color: #e12;
}

.box {
  border: 3px solid #e12;
  border-radius: 10px;
  margin-top: 10px;
  width: 900px
}

.box-content {
  padding: 10px 10px 10px 10px;
}

.star-full:hover {
  fill: #900;
}

.header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.tags {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-self: center;
  background-color: #353232;
}

.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: #353232;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal:not(:target) {
  visibility: hidden;
  opacity: 0;
}

.modalContent {
  position: relative;
  background-color: #353232;
  padding: 4em 2em;
}

.close {
  position: absolute;
  top: -30px;
  right: 0;
}
