nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E12;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: aqua;
}

.container {
  margin-top: 50px;
  display: block;
  position: relative;
  justify-items: center;
}

.content {
  max-width: 720px;
}

