nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242424;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul li {
  float: left;
  margin-left: 16px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #e12;
}

.container {
  margin-top: 120px;
  display: block;
  position: relative;
  justify-items: center;
}

.content {
  max-width: 720px;
}

.display-inline-flex {
  display: inline-flex;
  justify-items: center;
  align-items: center;
}

.tag-button:hover {
  background-color: #e12;
}

.box {
  border: 3px solid #e12;
  border-radius: 10px;
  margin-top: 10px;
}

.box-content {
  padding: 10px 10px 10px 10px;
}

.star-full:hover {
  fill: #900;
}
